body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: mistyrose;
}

header {
    background-color: lightpink;
    display: flex;
    align-items: center;
    padding: 10px 5%;
    box-shadow: 0 2px 5px ;
}

.logoimg {
    height: 70px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.banner {
    background-color: gray;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.shopbutton {
    background-color: crimson;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: slategray;
    color: white;
    padding: 40px 5%;
    text-align: center;
}